Integration HubSpot CRM.json
{
    "name": "Integration HubSpot CRM",
    "flow": [
        {
            "id": 2,
            "module": "hubspotcrm:watchContacts",
            "version": 2,
            "parameters": {
                "limit": 10,
                "__IMTCONN__": 1686318,
                "outputProperties": [
                    "annualrevenue",
                    "hs_analytics_average_page_views",
                    "hs_lifecyclestage_customer_date",
                    "hs_lifecyclestage_lead_date",
                    "hs_lifecyclestage_marketingqualifiedlead_date",
                    "hs_lifecyclestage_salesqualifiedlead_date",
                    "hs_lifecyclestage_subscriber_date",
                    "hs_lifecyclestage_evangelist_date",
                    "hs_lifecyclestage_opportunity_date",
                    "hs_lifecyclestage_other_date",
                    "hs_social_num_broadcast_clicks",
                    "hs_all_assigned_business_unit_ids",
                    "hs_buying_role",
                    "engagements_last_meeting_booked_campaign",
                    "city",
                    "closedate",
                    "company",
                    "company_size",
                    "hubspot_owner_id",
                    "hs_predictivescoringtier",
                    "hs_is_unworked",
                    "country",
                    "createdate",
                    "hs_created_by_user_id",
                    "hs_v2_cumulative_time_in_customer",
                    "hs_v2_cumulative_time_in_evangelist",
                    "hs_v2_cumulative_time_in_lead",
                    "hs_v2_cumulative_time_in_marketingqualifiedlead",
                    "hs_v2_cumulative_time_in_opportunity",
                    "hs_v2_cumulative_time_in_other",
                    "hs_v2_cumulative_time_in_salesqualifiedlead",
                    "hs_v2_cumulative_time_in_subscriber",
                    "hs_sequences_is_enrolled",
                    "currentlyinworkflow",
                    "hs_v2_date_entered_customer",
                    "hs_v2_date_entered_evangelist",
                    "hs_v2_date_entered_lead",
                    "hs_v2_date_entered_marketingqualifiedlead",
                    "hs_v2_date_entered_opportunity",
                    "hs_v2_date_entered_other",
                    "hs_v2_date_entered_salesqualifiedlead",
                    "hs_v2_date_entered_subscriber",
                    "hs_v2_date_exited_customer",
                    "hs_v2_date_exited_evangelist",
                    "hs_v2_date_exited_lead",
                    "hs_v2_date_exited_marketingqualifiedlead",
                    "hs_v2_date_exited_opportunity",
                    "hs_v2_date_exited_other",
                    "hs_v2_date_exited_salesqualifiedlead",
                    "hs_v2_date_exited_subscriber",
                    "date_of_birth",
                    "hs_sa_first_engagement_date",
                    "engagements_last_meeting_booked",
                    "days_to_close",
                    "degree",
                    "hs_sa_first_engagement_descr",
                    "hs_content_membership_registration_domain_sent_to",
                    "email",
                    "hs_email_quarantined",
                    "hs_content_membership_email_confirmed",
                    "hs_email_domain",
                    "hs_email_quarantined_reason",
                    "hs_email_customer_quarantined_reason",
                    "hs_email_hard_bounce_reason_enum",
                    "hs_analytics_revenue",
                    "hs_social_facebook_clicks",
                    "hs_facebook_click_id",
                    "fax",
                    "field_of_study",
                    "first_conversion_event_name",
                    "first_conversion_date",
                    "first_deal_created_date",
                    "firstname",
                    "hs_analytics_first_url",
                    "hs_analytics_first_referrer",
                    "hs_analytics_first_touch_converting_campaign",
                    "hs_email_first_click_date",
                    "hs_email_first_open_date",
                    "hs_email_first_reply_date",
                    "hs_email_first_send_date",
                    "followercount",
                    "gender",
                    "hs_social_google_plus_clicks",
                    "hs_google_click_id",
                    "graduation_date",
                    "hubspotscore",
                    "hubspot_team_id",
                    "hs_first_engagement_object_id",
                    "ip_city",
                    "ip_country",
                    "ip_country_code",
                    "ip_state_code",
                    "ip_state",
                    "hs_ip_timezone",
                    "industry",
                    "hs_email_bad_address",
                    "jobtitle",
                    "job_function",
                    "hs_journey_stage",
                    "kloutscoregeneral",
                    "notes_last_updated",
                    "notes_last_contacted",
                    "hs_last_sales_activity_timestamp",
                    "lastmodifieddate",
                    "hs_feedback_last_nps_follow_up",
                    "hs_feedback_last_survey_date",
                    "hs_feedback_last_nps_rating",
                    "lastname",
                    "hs_analytics_last_url",
                    "hs_analytics_last_referrer",
                    "hs_analytics_last_touch_converting_campaign",
                    "hs_email_last_click_date",
                    "hs_email_last_email_name",
                    "hs_email_last_open_date",
                    "hs_email_last_reply_date",
                    "hs_email_last_send_date",
                    "hs_latest_sequence_ended_date",
                    "hs_latest_sequence_enrolled",
                    "hs_latest_sequence_enrolled_date",
                    "hs_latest_disqualified_lead_date",
                    "hs_latest_open_lead_date",
                    "hs_latest_qualified_lead_date",
                    "hs_latest_source",
                    "hs_latest_source_timestamp",
                    "hs_latest_source_data_1",
                    "hs_latest_source_data_2",
                    "hs_v2_latest_time_in_customer",
                    "hs_v2_latest_time_in_evangelist",
                    "hs_v2_latest_time_in_lead",
                    "hs_v2_latest_time_in_marketingqualifiedlead",
                    "hs_v2_latest_time_in_opportunity",
                    "hs_v2_latest_time_in_other",
                    "hs_v2_latest_time_in_salesqualifiedlead",
                    "hs_v2_latest_time_in_subscriber",
                    "hs_predictivecontactscorebucket",
                    "hs_lead_status",
                    "hs_time_to_first_engagement",
                    "hs_legal_basis",
                    "lifecyclestage",
                    "hs_predictivecontactscore_v2",
                    "linkedinbio",
                    "hs_social_linkedin_clicks",
                    "linkedinconnections",
                    "linkedin_account",
                    "marital_status",
                    "hs_marketable_status",
                    "hs_marketable_reason_id",
                    "hs_marketable_reason_type",
                    "hs_marketable_until_renewal",
                    "hs_emailconfirmationstatus",
                    "hs_email_bounce",
                    "hs_email_click",
                    "hs_email_delivered",
                    "hs_email_open",
                    "hs_email_replied",
                    "engagements_last_meeting_booked_medium",
                    "hs_content_membership_email",
                    "hs_content_membership_notes",
                    "hs_merged_object_ids",
                    "message",
                    "military_status",
                    "mobilephone",
                    "hs_social_last_engagement",
                    "notes_next_activity_date",
                    "num_associated_deals",
                    "numemployees",
                    "num_conversion_events",
                    "hs_analytics_num_page_views",
                    "num_notes",
                    "hs_analytics_num_visits",
                    "num_unique_conversion_events",
                    "hs_analytics_num_event_completions",
                    "hs_sequences_enrolled_count",
                    "num_contacted_notes",
                    "hs_email_optout_359094912",
                    "hs_email_optout_359094910",
                    "hs_analytics_source",
                    "hs_analytics_source_data_1",
                    "hs_analytics_source_data_2",
                    "hubspot_owner_assigneddate",
                    "hs_persona",
                    "phone",
                    "zip",
                    "hs_predictivecontactscore",
                    "hs_language",
                    "hs_quarantined_emails",
                    "recent_conversion_event_name",
                    "recent_conversion_date",
                    "recent_deal_amount",
                    "recent_deal_close_date",
                    "hs_sales_email_last_clicked",
                    "hs_sales_email_last_opened",
                    "hs_sales_email_last_replied",
                    "hs_object_id",
                    "hs_object_source_label",
                    "hs_object_source_detail_1",
                    "hs_object_source_detail_2",
                    "hs_object_source_detail_3",
                    "hs_content_membership_registered_at",
                    "relationship_status",
                    "salutation",
                    "school",
                    "hs_email_sends_since_last_engagement",
                    "seniority",
                    "engagements_last_meeting_booked_source",
                    "start_date",
                    "state",
                    "hs_content_membership_status",
                    "address",
                    "hs_analytics_first_timestamp",
                    "hs_analytics_last_timestamp",
                    "hs_timezone",
                    "hs_time_between_contact_creation_and_deal_close",
                    "hs_time_between_contact_creation_and_deal_creation",
                    "hs_content_membership_follow_up_enqueued_at",
                    "hs_analytics_first_visit_timestamp",
                    "hs_analytics_last_visit_timestamp",
                    "hs_content_membership_registration_email_sent_at",
                    "hs_time_to_move_from_lead_to_customer",
                    "hs_time_to_move_from_marketingqualifiedlead_to_customer",
                    "hs_time_to_move_from_opportunity_to_customer",
                    "hs_time_to_move_from_salesqualifiedlead_to_customer",
                    "hs_time_to_move_from_subscriber_to_customer",
                    "total_revenue",
                    "twitterbio",
                    "hs_social_twitter_clicks",
                    "twitterprofilephoto",
                    "twitterhandle",
                    "hs_sa_first_engagement_object_type",
                    "hs_email_optout",
                    "hs_updated_by_user_id",
                    "website",
                    "hs_whatsapp_phone_number",
                    "work_email"
                ],
                "parseCustomFields": true
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 300
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "hubspotcrm"
                            },
                            "label": "My HubSpot CRM connection (vincent.ramiso14@gmail.com)"
                        },
                        "outputProperties": {
                            "mode": "chose",
                            "label": [
                                "Annual Revenue",
                                "Average Pageviews",
                                "Became a Customer Date",
                                "Became a Lead Date",
                                "Became a Marketing Qualified Lead Date",
                                "Became a Sales Qualified Lead Date",
                                "Became a Subscriber Date",
                                "Became an Evangelist Date",
                                "Became an Opportunity Date",
                                "Became an Other Lifecycle Date",
                                "Broadcast Clicks",
                                "Business units",
                                "Buying Role",
                                "Campaign of last booking in meetings tool",
                                "City",
                                "Close Date",
                                "Company Name",
                                "Company size",
                                "Contact owner",
                                "Contact priority",
                                "Contact unworked",
                                "Country/Region",
                                "Create Date",
                                "Created by user ID",
                                "Cumulative time in \"Customer (Lifecycle Stage Pipeline)\"",
                                "Cumulative time in \"Evangelist (Lifecycle Stage Pipeline)\"",
                                "Cumulative time in \"Lead (Lifecycle Stage Pipeline)\"",
                                "Cumulative time in \"Marketing Qualified Lead (Lifecycle Stage Pipeline)\"",
                                "Cumulative time in \"Opportunity (Lifecycle Stage Pipeline)\"",
                                "Cumulative time in \"Other (Lifecycle Stage Pipeline)\"",
                                "Cumulative time in \"Sales Qualified Lead (Lifecycle Stage Pipeline)\"",
                                "Cumulative time in \"Subscriber (Lifecycle Stage Pipeline)\"",
                                "Currently in Sequence",
                                "Currently in workflow",
                                "Date entered \"Customer (Lifecycle Stage Pipeline)\"",
                                "Date entered \"Evangelist (Lifecycle Stage Pipeline)\"",
                                "Date entered \"Lead (Lifecycle Stage Pipeline)\"",
                                "Date entered \"Marketing Qualified Lead (Lifecycle Stage Pipeline)\"",
                                "Date entered \"Opportunity (Lifecycle Stage Pipeline)\"",
                                "Date entered \"Other (Lifecycle Stage Pipeline)\"",
                                "Date entered \"Sales Qualified Lead (Lifecycle Stage Pipeline)\"",
                                "Date entered \"Subscriber (Lifecycle Stage Pipeline)\"",
                                "Date exited \"Customer (Lifecycle Stage Pipeline)\"",
                                "Date exited \"Evangelist (Lifecycle Stage Pipeline)\"",
                                "Date exited \"Lead (Lifecycle Stage Pipeline)\"",
                                "Date exited \"Marketing Qualified Lead (Lifecycle Stage Pipeline)\"",
                                "Date exited \"Opportunity (Lifecycle Stage Pipeline)\"",
                                "Date exited \"Other (Lifecycle Stage Pipeline)\"",
                                "Date exited \"Sales Qualified Lead (Lifecycle Stage Pipeline)\"",
                                "Date exited \"Subscriber (Lifecycle Stage Pipeline)\"",
                                "Date of birth",
                                "Date of first engagement",
                                "Date of last meeting booked in meetings tool",
                                "Days To Close",
                                "Degree",
                                "Description of first engagement",
                                "Domain to which registration email was sent",
                                "Email",
                                "Email Address Quarantined",
                                "Email Confirmed",
                                "Email Domain",
                                "Email address automated quarantine reason",
                                "Email address quarantine reason",
                                "Email hard bounce reason",
                                "Event Revenue",
                                "Facebook Clicks",
                                "Facebook click id",
                                "Fax Number",
                                "Field of study",
                                "First Conversion",
                                "First Conversion Date",
                                "First Deal Created Date",
                                "First Name",
                                "First Page Seen",
                                "First Referring Site",
                                "First Touch Converting Campaign",
                                "First marketing email click date",
                                "First marketing email open date",
                                "First marketing email reply date",
                                "First marketing email send date",
                                "Follower Count",
                                "Gender",
                                "Google Plus Clicks",
                                "Google ad click id",
                                "Graduation date",
                                "HubSpot Score",
                                "HubSpot Team",
                                "ID of first engagement",
                                "IP City",
                                "IP Country",
                                "IP Country Code",
                                "IP State Code/Region Code",
                                "IP State/Region",
                                "IP Timezone",
                                "Industry",
                                "Invalid email address",
                                "Job Title",
                                "Job function",
                                "Journey Stage",
                                "Klout Score",
                                "Last Activity Date",
                                "Last Contacted",
                                "Last Engagement Date",
                                "Last Modified Date",
                                "Last NPS survey comment",
                                "Last NPS survey date",
                                "Last NPS survey rating",
                                "Last Name",
                                "Last Page Seen",
                                "Last Referring Site",
                                "Last Touch Converting Campaign",
                                "Last marketing email click date",
                                "Last marketing email name",
                                "Last marketing email open date",
                                "Last marketing email reply date",
                                "Last marketing email send date",
                                "Last sequence ended date",
                                "Last sequence enrolled",
                                "Last sequence enrolled date",
                                "Latest Disqualified Lead Date",
                                "Latest Open Lead Date",
                                "Latest Qualified Lead Date",
                                "Latest Source",
                                "Latest Source Date",
                                "Latest Source Drill-Down 1",
                                "Latest Source Drill-Down 2",
                                "Latest time in \"Customer (Lifecycle Stage Pipeline)\"",
                                "Latest time in \"Evangelist (Lifecycle Stage Pipeline)\"",
                                "Latest time in \"Lead (Lifecycle Stage Pipeline)\"",
                                "Latest time in \"Marketing Qualified Lead (Lifecycle Stage Pipeline)\"",
                                "Latest time in \"Opportunity (Lifecycle Stage Pipeline)\"",
                                "Latest time in \"Other (Lifecycle Stage Pipeline)\"",
                                "Latest time in \"Sales Qualified Lead (Lifecycle Stage Pipeline)\"",
                                "Latest time in \"Subscriber (Lifecycle Stage Pipeline)\"",
                                "Lead Rating",
                                "Lead Status",
                                "Lead response time",
                                "Legal basis for processing contact's data",
                                "Lifecycle Stage",
                                "Likelihood to close",
                                "LinkedIn Bio",
                                "LinkedIn Clicks",
                                "LinkedIn Connections",
                                "Linkedin account",
                                "Marital Status",
                                "Marketing contact status",
                                "Marketing contact status source name",
                                "Marketing contact status source type",
                                "Marketing contact until next update",
                                "Marketing email confirmation status",
                                "Marketing emails bounced",
                                "Marketing emails clicked",
                                "Marketing emails delivered",
                                "Marketing emails opened",
                                "Marketing emails replied",
                                "Medium of last booking in meetings tool",
                                "Member email",
                                "Membership Notes",
                                "Merged Contact IDs",
                                "Message",
                                "Military status",
                                "Mobile Phone Number",
                                "Most Recent Social Click",
                                "Next Activity Date",
                                "Number of Associated Deals",
                                "Number of Employees",
                                "Number of Form Submissions",
                                "Number of Pageviews",
                                "Number of Sales Activities",
                                "Number of Sessions",
                                "Number of Unique Forms Submitted",
                                "Number of event completions",
                                "Number of sequences enrolled",
                                "Number of times contacted",
                                "Opted out of email: Marketing Information",
                                "Opted out of email: One to One",
                                "Original Source",
                                "Original Source Drill-Down 1",
                                "Original Source Drill-Down 2",
                                "Owner Assigned Date",
                                "Persona",
                                "Phone Number",
                                "Postal Code",
                                "Predictive Lead Score",
                                "Preferred language",
                                "Quarantined Emails",
                                "Recent Conversion",
                                "Recent Conversion Date",
                                "Recent Deal Amount",
                                "Recent Deal Close Date",
                                "Recent Sales Email Clicked Date",
                                "Recent Sales Email Opened Date",
                                "Recent Sales Email Replied Date",
                                "Record ID",
                                "Record Source",
                                "Record Source Detail 1",
                                "Record Source Detail 2",
                                "Record Source Detail 3",
                                "Registered At",
                                "Relationship Status",
                                "Salutation",
                                "School",
                                "Sends Since Last Engagement",
                                "Seniority",
                                "Source of last booking in meetings tool",
                                "Start date",
                                "State/Region",
                                "Status",
                                "Street Address",
                                "Time First Seen",
                                "Time Last Seen",
                                "Time Zone",
                                "Time between contact creation and deal close",
                                "Time between contact creation and deal creation",
                                "Time enrolled in registration follow up emails",
                                "Time of First Session",
                                "Time of Last Session",
                                "Time registration email was sent",
                                "Time to move from lead to customer",
                                "Time to move from marketing qualified lead to customer",
                                "Time to move from opportunity to customer",
                                "Time to move from sales qualified lead to customer",
                                "Time to move from subscriber to customer",
                                "Total Revenue",
                                "Twitter Bio",
                                "Twitter Clicks",
                                "Twitter Profile Photo",
                                "Twitter Username",
                                "Type of first engagement",
                                "Unsubscribed from all email",
                                "Updated by user ID",
                                "Website URL",
                                "WhatsApp Phone Number",
                                "Work email"
                            ]
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:hubspotcrm",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "outputProperties",
                        "type": "select",
                        "label": "Output Properties",
                        "multiple": true
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "parseCustomFields",
                        "type": "boolean",
                        "label": "Parse Custom Fields",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "google-email:ActionSendEmail",
            "version": 2,
            "parameters": {
                "account": 1662578
            },
            "filter": {
                "name": "Lead Qualification",
                "conditions": [
                    [
                        {
                            "a": "{{2.properties.industry}}",
                            "o": "exist"
                        },
                        {
                            "a": "{{2.properties.hs_email_domain}}",
                            "o": "exist"
                        }
                    ]
                ]
            },
            "mapper": {
                "cc": [],
                "to": [
                    "{{2.properties.email}}"
                ],
                "bcc": [],
                "from": "",
                "html": "Dear {{2.properties.firstname}}, </br>We're thrilled to connect with you...",
                "subject": "Qualified Lead Connection",
                "attachments": []
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 300
                },
                "restore": {
                    "expect": {
                        "cc": {
                            "mode": "chose"
                        },
                        "to": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "bcc": {
                            "mode": "chose"
                        },
                        "attachments": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "account": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            },
                            "label": "Test send email (vincent@prellus.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account:google-restricted",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "from",
                        "type": "text",
                        "label": "From"
                    },
                    {
                        "name": "to",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address",
                            "required": true
                        },
                        "type": "array",
                        "label": "To",
                        "required": true
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "html",
                        "type": "text",
                        "label": "Content"
                    },
                    {
                        "name": "attachments",
                        "spec": [
                            {
                                "name": "fileName",
                                "type": "filename",
                                "label": "File name",
                                "required": true,
                                "semantic": "file:name"
                            },
                            {
                                "name": "data",
                                "type": "buffer",
                                "label": "Data",
                                "required": true,
                                "semantic": "file:data"
                            },
                            {
                                "name": "cid",
                                "type": "text",
                                "label": "Content-ID"
                            }
                        ],
                        "type": "array",
                        "label": "Attachments"
                    },
                    {
                        "name": "cc",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address"
                        },
                        "type": "array",
                        "label": "Copy recipient"
                    },
                    {
                        "name": "bcc",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address"
                        },
                        "type": "array",
                        "label": "Blind copy recipient"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "hubspotcrm:CreateEngagement",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 1686318
            },
            "mapper": {
                "objectType": "tasks",
                "properties": [
                    {
                        "key": "hs_task_subject",
                        "value": "Follow up with {{2.properties.firstname}}"
                    },
                    {
                        "key": "hs_timestamp",
                        "value": "{{addDays(now; 2)}}"
                    },
                    {
                        "key": "hs_task_priority",
                        "value": "MEDIUM"
                    }
                ],
                "hs_timestamp": "{{addDays(now; 2)}}",
                "parseCustomFields": true
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 300
                },
                "restore": {
                    "expect": {
                        "objectType": {
                            "mode": "chose",
                            "label": "Tasks"
                        },
                        "properties": {
                            "mode": "chose",
                            "items": [
                                {
                                    "key": {
                                        "mode": "chose",
                                        "label": "Task Title"
                                    }
                                },
                                {
                                    "key": {
                                        "mode": "chose",
                                        "label": "Due date"
                                    }
                                },
                                {
                                    "key": {
                                        "mode": "chose",
                                        "label": "Priority"
                                    }
                                }
                            ]
                        },
                        "associations": {
                            "mode": "chose"
                        },
                        "parseCustomFields": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "hubspotcrm"
                            },
                            "label": "My HubSpot CRM connection (vincent.ramiso14@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:hubspotcrm",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "hs_timestamp",
                        "type": "date",
                        "label": "Activity Date",
                        "required": true
                    },
                    {
                        "name": "objectType",
                        "type": "select",
                        "label": "Engagement Type",
                        "required": true
                    },
                    {
                        "name": "parseCustomFields",
                        "type": "boolean",
                        "label": "Parse Custom Fields",
                        "required": true
                    },
                    {
                        "name": "properties",
                        "spec": [
                            {
                                "name": "key",
                                "type": "select",
                                "label": "Key",
                                "dynamic": true,
                                "options": []
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Properties"
                    },
                    {
                        "name": "associations",
                        "spec": [
                            {
                                "name": "toObjectId",
                                "type": "text",
                                "label": "Object ID",
                                "required": true
                            },
                            {
                                "name": "typeId",
                                "type": "select",
                                "label": "Association Type ID",
                                "options": [
                                    {
                                        "label": "Engagement to Company",
                                        "value": 8
                                    },
                                    {
                                        "label": "Engagement to Contact",
                                        "value": 10
                                    },
                                    {
                                        "label": "Engagement to Deal",
                                        "value": 12
                                    },
                                    {
                                        "label": "Engagement to Ticket",
                                        "value": 18
                                    }
                                ],
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Associations"
                    }
                ]
            },
            "onerror": [
                {
                    "id": 9,
                    "module": "slack:CreateMessage",
                    "version": 4,
                    "parameters": {
                        "__IMTCONN__": 1676835
                    },
                    "mapper": {
                        "text": "{{5.error.type}}\n{{5.error.message}}",
                        "parse": false,
                        "mrkdwn": true,
                        "channel": "C074EPVBG4U",
                        "channelType": "public",
                        "channelWType": "list"
                    },
                    "metadata": {
                        "designer": {
                            "x": 845,
                            "y": 498
                        },
                        "restore": {
                            "expect": {
                                "parse": {
                                    "mode": "chose"
                                },
                                "mrkdwn": {
                                    "mode": "chose"
                                },
                                "channel": {
                                    "mode": "chose",
                                    "label": "bot-handle-error"
                                },
                                "link_names": {
                                    "mode": "chose"
                                },
                                "channelType": {
                                    "label": "Public channel"
                                },
                                "channelWType": {
                                    "label": "Select from the list"
                                },
                                "unfurl_links": {
                                    "mode": "chose"
                                },
                                "unfurl_media": {
                                    "mode": "chose"
                                },
                                "reply_broadcast": {
                                    "mode": "chose"
                                }
                            },
                            "parameters": {
                                "__IMTCONN__": {
                                    "data": {
                                        "scoped": "true",
                                        "connection": "slack3"
                                    },
                                    "label": "My Slack (bot) connection (integromat)"
                                }
                            }
                        },
                        "parameters": [
                            {
                                "name": "__IMTCONN__",
                                "type": "account:slack2,slack3",
                                "label": "Connection",
                                "required": true
                            }
                        ],
                        "expect": [
                            {
                                "name": "channelWType",
                                "type": "select",
                                "label": "Enter a channel ID or name",
                                "required": true,
                                "validate": {
                                    "enum": [
                                        "manualy",
                                        "list"
                                    ]
                                }
                            },
                            {
                                "name": "text",
                                "type": "text",
                                "label": "Text"
                            },
                            {
                                "name": "blocks",
                                "type": "text",
                                "label": "Blocks"
                            },
                            {
                                "name": "thread_ts",
                                "type": "text",
                                "label": "Thread message ID (time stamp)"
                            },
                            {
                                "name": "reply_broadcast",
                                "type": "boolean",
                                "label": "Reply broadcast"
                            },
                            {
                                "name": "link_names",
                                "type": "boolean",
                                "label": "Link names"
                            },
                            {
                                "name": "parse",
                                "type": "boolean",
                                "label": "Parse message text"
                            },
                            {
                                "name": "mrkdwn",
                                "type": "boolean",
                                "label": "Use markdown"
                            },
                            {
                                "name": "unfurl_links",
                                "type": "boolean",
                                "label": "Unfurl primarily text-based content"
                            },
                            {
                                "name": "unfurl_media",
                                "type": "boolean",
                                "label": "Unfurl media content"
                            },
                            {
                                "name": "icon_emoji",
                                "type": "text",
                                "label": "Icon emoji"
                            },
                            {
                                "name": "icon_url",
                                "type": "url",
                                "label": "Icon url"
                            },
                            {
                                "name": "username",
                                "type": "text",
                                "label": "User name"
                            },
                            {
                                "name": "channelType",
                                "type": "select",
                                "label": "Channel type",
                                "required": true,
                                "validate": {
                                    "enum": [
                                        "public",
                                        "private",
                                        "im",
                                        "mpim"
                                    ]
                                }
                            },
                            {
                                "name": "channel",
                                "type": "select",
                                "label": "Public channel",
                                "required": true
                            }
                        ]
                    }
                }
            ]
        },
        {
            "id": 6,
            "module": "hubspotcrm:updateContact",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 1686318
            },
            "mapper": {
                "_method": "all",
                "contactId": "{{2.id}}",
                "lifecyclestage": "salesqualifiedlead",
                "hs_journey_stage": "in_nurturing",
                "parseCustomFields": true
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "_method": {
                            "mode": "chose",
                            "label": "All Fields"
                        },
                        "hs_persona": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "hs_language": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "hs_timezone": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "numemployees": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "hs_buying_role": {
                            "mode": "chose"
                        },
                        "hs_lead_status": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "hs_legal_basis": {
                            "mode": "chose"
                        },
                        "lifecyclestage": {
                            "mode": "chose",
                            "label": "Sales Qualified Lead"
                        },
                        "hs_journey_stage": {
                            "mode": "chose",
                            "label": "In Nurturing"
                        },
                        "hs_latest_source": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "hubspot_owner_id": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "parseCustomFields": {
                            "mode": "chose"
                        },
                        "hs_analytics_source": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "hs_content_membership_status": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "hs_all_assigned_business_unit_ids": {
                            "mode": "chose"
                        },
                        "hs_email_customer_quarantined_reason": {
                            "mode": "chose",
                            "label": "Empty"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "hubspotcrm"
                            },
                            "label": "My HubSpot CRM connection (vincent.ramiso14@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:hubspotcrm",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "contactId",
                        "type": "uinteger",
                        "label": "Contact ID",
                        "required": true
                    },
                    {
                        "name": "_method",
                        "type": "select",
                        "label": "View Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "compact",
                                "all"
                            ]
                        }
                    },
                    {
                        "name": "parseCustomFields",
                        "type": "boolean",
                        "label": "Parse Custom Fields",
                        "required": true
                    },
                    {
                        "name": "annualrevenue",
                        "type": "text",
                        "label": "Annual Revenue"
                    },
                    {
                        "name": "hs_all_assigned_business_unit_ids",
                        "type": "select",
                        "label": "Business units",
                        "multiple": true
                    },
                    {
                        "name": "hs_buying_role",
                        "type": "select",
                        "label": "Buying Role",
                        "multiple": true,
                        "validate": {
                            "enum": [
                                "BLOCKER",
                                "BUDGET_HOLDER",
                                "CHAMPION",
                                "DECISION_MAKER",
                                "END_USER",
                                "EXECUTIVE_SPONSOR",
                                "INFLUENCER",
                                "LEGAL_AND_COMPLIANCE",
                                "OTHER"
                            ]
                        }
                    },
                    {
                        "name": "city",
                        "type": "text",
                        "label": "City"
                    },
                    {
                        "name": "closedate",
                        "time": true,
                        "type": "date",
                        "label": "Close Date"
                    },
                    {
                        "name": "company",
                        "type": "text",
                        "label": "Company Name"
                    },
                    {
                        "name": "company_size",
                        "type": "text",
                        "label": "Company size"
                    },
                    {
                        "name": "hubspot_owner_id",
                        "type": "select",
                        "label": "Contact owner",
                        "validate": {
                            "enum": [
                                "700670754"
                            ]
                        }
                    },
                    {
                        "name": "country",
                        "type": "text",
                        "label": "Country/Region"
                    },
                    {
                        "name": "date_of_birth",
                        "type": "text",
                        "label": "Date of birth"
                    },
                    {
                        "name": "degree",
                        "type": "text",
                        "label": "Degree"
                    },
                    {
                        "name": "email",
                        "type": "text",
                        "label": "Email"
                    },
                    {
                        "name": "hs_email_customer_quarantined_reason",
                        "type": "select",
                        "label": "Email address quarantine reason",
                        "validate": {
                            "enum": [
                                "SUSPENSION_REMEDIATION",
                                "BLOCKLIST_REMEDIATION",
                                "TRUST_SAFETY_REMEDIATION"
                            ]
                        }
                    },
                    {
                        "name": "hs_facebook_click_id",
                        "type": "text",
                        "label": "Facebook click id"
                    },
                    {
                        "name": "fax",
                        "type": "text",
                        "label": "Fax Number"
                    },
                    {
                        "name": "field_of_study",
                        "type": "text",
                        "label": "Field of study"
                    },
                    {
                        "name": "firstname",
                        "type": "text",
                        "label": "First Name"
                    },
                    {
                        "name": "followercount",
                        "type": "number",
                        "label": "Follower Count"
                    },
                    {
                        "name": "gender",
                        "type": "text",
                        "label": "Gender"
                    },
                    {
                        "name": "hs_google_click_id",
                        "type": "text",
                        "label": "Google ad click id"
                    },
                    {
                        "name": "graduation_date",
                        "type": "text",
                        "label": "Graduation date"
                    },
                    {
                        "name": "industry",
                        "type": "text",
                        "label": "Industry"
                    },
                    {
                        "name": "jobtitle",
                        "type": "text",
                        "label": "Job Title"
                    },
                    {
                        "name": "job_function",
                        "type": "text",
                        "label": "Job function"
                    },
                    {
                        "name": "hs_journey_stage",
                        "type": "select",
                        "label": "Journey Stage",
                        "validate": {
                            "enum": [
                                "new_contact",
                                "in_nurturing",
                                "low_intent",
                                "mid_intent",
                                "high_intent",
                                "unqualified",
                                "qualified",
                                "onboarding",
                                "post_onboarding",
                                "engaged",
                                "unengaged"
                            ]
                        }
                    },
                    {
                        "name": "kloutscoregeneral",
                        "type": "number",
                        "label": "Klout Score"
                    },
                    {
                        "name": "lastname",
                        "type": "text",
                        "label": "Last Name"
                    },
                    {
                        "name": "hs_latest_source",
                        "type": "select",
                        "label": "Latest Source",
                        "validate": {
                            "enum": [
                                "ORGANIC_SEARCH",
                                "PAID_SEARCH",
                                "EMAIL_MARKETING",
                                "SOCIAL_MEDIA",
                                "REFERRALS",
                                "OTHER_CAMPAIGNS",
                                "DIRECT_TRAFFIC",
                                "OFFLINE",
                                "PAID_SOCIAL"
                            ]
                        }
                    },
                    {
                        "name": "hs_latest_source_timestamp",
                        "time": true,
                        "type": "date",
                        "label": "Latest Source Date"
                    },
                    {
                        "name": "hs_lead_status",
                        "type": "select",
                        "label": "Lead Status",
                        "validate": {
                            "enum": [
                                "NEW",
                                "OPEN",
                                "IN_PROGRESS",
                                "OPEN_DEAL",
                                "UNQUALIFIED",
                                "ATTEMPTED_TO_CONTACT",
                                "CONNECTED",
                                "BAD_TIMING"
                            ]
                        }
                    },
                    {
                        "name": "hs_legal_basis",
                        "type": "select",
                        "label": "Legal basis for processing contact's data",
                        "multiple": true,
                        "validate": {
                            "enum": [
                                "Legitimate interest  prospect/lead",
                                "Legitimate interest  existing customer",
                                "Legitimate interest - other",
                                "Performance of a contract",
                                "Freely given consent from contact",
                                "Not applicable"
                            ]
                        }
                    },
                    {
                        "name": "lifecyclestage",
                        "type": "select",
                        "label": "Lifecycle Stage",
                        "validate": {
                            "enum": [
                                "subscriber",
                                "lead",
                                "marketingqualifiedlead",
                                "salesqualifiedlead",
                                "opportunity",
                                "customer",
                                "evangelist",
                                "other"
                            ]
                        }
                    },
                    {
                        "name": "linkedinbio",
                        "type": "text",
                        "label": "LinkedIn Bio"
                    },
                    {
                        "name": "linkedinconnections",
                        "type": "number",
                        "label": "LinkedIn Connections"
                    },
                    {
                        "name": "linkedin_account",
                        "type": "text",
                        "label": "Linkedin account"
                    },
                    {
                        "name": "marital_status",
                        "type": "text",
                        "label": "Marital Status"
                    },
                    {
                        "name": "hs_content_membership_email",
                        "type": "text",
                        "label": "Member email"
                    },
                    {
                        "name": "hs_content_membership_notes",
                        "type": "text",
                        "label": "Membership Notes"
                    },
                    {
                        "name": "message",
                        "type": "text",
                        "label": "Message"
                    },
                    {
                        "name": "military_status",
                        "type": "text",
                        "label": "Military status"
                    },
                    {
                        "name": "mobilephone",
                        "type": "text",
                        "label": "Mobile Phone Number"
                    },
                    {
                        "name": "numemployees",
                        "type": "select",
                        "label": "Number of Employees",
                        "validate": {
                            "enum": [
                                "1-5",
                                "5-25",
                                "25-50",
                                "50-100",
                                "100-500",
                                "500-1000",
                                "1000+"
                            ]
                        }
                    },
                    {
                        "name": "hs_analytics_source",
                        "type": "select",
                        "label": "Original Source",
                        "validate": {
                            "enum": [
                                "ORGANIC_SEARCH",
                                "PAID_SEARCH",
                                "EMAIL_MARKETING",
                                "SOCIAL_MEDIA",
                                "REFERRALS",
                                "OTHER_CAMPAIGNS",
                                "DIRECT_TRAFFIC",
                                "OFFLINE",
                                "PAID_SOCIAL"
                            ]
                        }
                    },
                    {
                        "name": "hs_persona",
                        "type": "select",
                        "label": "Persona"
                    },
                    {
                        "name": "phone",
                        "type": "text",
                        "label": "Phone Number"
                    },
                    {
                        "name": "zip",
                        "type": "text",
                        "label": "Postal Code"
                    },
                    {
                        "name": "hs_language",
                        "type": "select",
                        "label": "Preferred language",
                        "validate": {
                            "enum": [
                                "af",
                                "sq",
                                "sq-al",
                                "ar",
                                "ar-dz",
                                "ar-bh",
                                "ar-eg",
                                "ar-iq",
                                "ar-jo",
                                "ar-kw",
                                "ar-lb",
                                "ar-ly",
                                "ar-ma",
                                "ar-om",
                                "ar-qa",
                                "ar-sa",
                                "ar-sd",
                                "ar-sy",
                                "ar-tn",
                                "ar-ae",
                                "ar-ye",
                                "hy",
                                "eu",
                                "be",
                                "be-by",
                                "bg",
                                "bg-bg",
                                "ca",
                                "ca-es",
                                "zh",
                                "zh-cn",
                                "zh-hk",
                                "zh-mo",
                                "zh-sg",
                                "zh-tw",
                                "zh-chs",
                                "zh-cht",
                                "hr",
                                "hr-hr",
                                "cs",
                                "cs-cz",
                                "da",
                                "da-dk",
                                "nl",
                                "nl-be",
                                "nl-nl",
                                "en",
                                "en-au",
                                "en-ca",
                                "en-hk",
                                "en-in",
                                "en-ie",
                                "en-my",
                                "en-mt",
                                "en-nz",
                                "en-ph",
                                "en-sg",
                                "en-za",
                                "en-gb",
                                "en-us",
                                "en-zw",
                                "et",
                                "et-ee",
                                "fo",
                                "fa",
                                "fi",
                                "fi-fi",
                                "fr",
                                "fr-be",
                                "fr-ca",
                                "fr-fr",
                                "fr-lu",
                                "fr-mc",
                                "fr-ch",
                                "gl",
                                "ka",
                                "de",
                                "de-at",
                                "de-de",
                                "de-gr",
                                "de-li",
                                "de-lu",
                                "de-ch",
                                "el",
                                "el-cy",
                                "el-gr",
                                "gu",
                                "he",
                                "iw-il",
                                "hi",
                                "hi-in",
                                "hu",
                                "hu-hu",
                                "is",
                                "is-is",
                                "id",
                                "in-id",
                                "ga",
                                "ga-ie",
                                "it",
                                "it-it",
                                "it-ch",
                                "ja",
                                "ja-jp",
                                "kn",
                                "kk",
                                "kok",
                                "ko",
                                "ko-kr",
                                "ky",
                                "lv",
                                "lv-lv",
                                "lt",
                                "lt-lt",
                                "mk",
                                "mk-mk",
                                "ms",
                                "ms-bn",
                                "ms-my",
                                "mt",
                                "mt-mt",
                                "mr",
                                "mn",
                                "my",
                                "my-mm",
                                "no",
                                "nb",
                                "no-no",
                                "pl",
                                "pl-pl",
                                "pt",
                                "pt-br",
                                "pt-pt",
                                "pa",
                                "ro",
                                "ro-ro",
                                "ru",
                                "ru-ru",
                                "sa",
                                "sr",
                                "sr-ba",
                                "sr-me",
                                "sr-rs",
                                "sr-cs",
                                "sk",
                                "sk-sk",
                                "sl",
                                "sl-si",
                                "es",
                                "es-ar",
                                "es-bo",
                                "es-cl",
                                "es-co",
                                "es-cr",
                                "es-cu",
                                "es-do",
                                "es-ec",
                                "es-sv",
                                "es-gt",
                                "es-hn",
                                "es-mx",
                                "es-ni",
                                "es-pa",
                                "es-py",
                                "es-pe",
                                "es-pr",
                                "es-es",
                                "es-us",
                                "es-uy",
                                "es-ve",
                                "sw",
                                "sv",
                                "sv-fi",
                                "sv-se",
                                "sy",
                                "ta",
                                "tt",
                                "te",
                                "th",
                                "th-th",
                                "tr",
                                "tr-tr",
                                "uk",
                                "uk-ua",
                                "ur",
                                "vi",
                                "vi-vn",
                                "bn",
                                "t1",
                                "m1",
                                "as",
                                "cb-pl",
                                "ha",
                                "ki",
                                "rw",
                                "ny",
                                "mg",
                                "yo",
                                "ht"
                            ]
                        }
                    },
                    {
                        "name": "relationship_status",
                        "type": "text",
                        "label": "Relationship Status"
                    },
                    {
                        "name": "salutation",
                        "type": "text",
                        "label": "Salutation"
                    },
                    {
                        "name": "school",
                        "type": "text",
                        "label": "School"
                    },
                    {
                        "name": "seniority",
                        "type": "text",
                        "label": "Seniority"
                    },
                    {
                        "name": "start_date",
                        "type": "text",
                        "label": "Start date"
                    },
                    {
                        "name": "state",
                        "type": "text",
                        "label": "State/Region"
                    },
                    {
                        "name": "hs_content_membership_status",
                        "type": "select",
                        "label": "Status",
                        "validate": {
                            "enum": [
                                "active",
                                "inactive"
                            ]
                        }
                    },
                    {
                        "name": "address",
                        "type": "text",
                        "label": "Street Address"
                    },
                    {
                        "name": "hs_timezone",
                        "type": "select",
                        "label": "Time Zone",
                        "validate": {
                            "enum": [
                                "pacific_slash_midway",
                                "pacific_slash_niue",
                                "pacific_slash_pago_pago",
                                "pacific_slash_samoa",
                                "us_slash_samoa",
                                "pacific_slash_honolulu",
                                "pacific_slash_johnston",
                                "pacific_slash_rarotonga",
                                "pacific_slash_tahiti",
                                "us_slash_hawaii",
                                "pacific_slash_marquesas",
                                "america_slash_adak",
                                "america_slash_atka",
                                "pacific_slash_gambier",
                                "us_slash_aleutian",
                                "america_slash_anchorage",
                                "america_slash_juneau",
                                "america_slash_metlakatla",
                                "america_slash_nome",
                                "america_slash_sitka",
                                "america_slash_yakutat",
                                "pacific_slash_pitcairn",
                                "us_slash_alaska",
                                "america_slash_creston",
                                "america_slash_dawson",
                                "america_slash_dawson_creek",
                                "america_slash_ensenada",
                                "america_slash_fort_nelson",
                                "america_slash_hermosillo",
                                "america_slash_los_angeles",
                                "america_slash_phoenix",
                                "america_slash_santa_isabel",
                                "america_slash_tijuana",
                                "america_slash_vancouver",
                                "america_slash_whitehorse",
                                "canada_slash_pacific",
                                "canada_slash_yukon",
                                "mexico_slash_bajanorte",
                                "us_slash_arizona",
                                "us_slash_pacific",
                                "us_slash_pacific_hyphen_new",
                                "america_slash_belize",
                                "america_slash_boise",
                                "america_slash_cambridge_bay",
                                "america_slash_chihuahua",
                                "america_slash_costa_rica",
                                "america_slash_denver",
                                "america_slash_edmonton",
                                "america_slash_el_salvador",
                                "america_slash_guatemala",
                                "america_slash_inuvik",
                                "america_slash_managua",
                                "america_slash_mazatlan",
                                "navajo",
                                "america_slash_ojinaga",
                                "america_slash_regina",
                                "america_slash_shiprock",
                                "america_slash_swift_current",
                                "america_slash_tegucigalpa",
                                "america_slash_yellowknife",
                                "canada_slash_mountain",
                                "canada_slash_saskatchewan",
                                "chile_slash_easterisland",
                                "mexico_slash_bajasur",
                                "pacific_slash_easter",
                                "pacific_slash_galapagos",
                                "us_slash_mountain",
                                "america_slash_atikokan",
                                "america_slash_bahia_banderas",
                                "america_slash_bogota",
                                "america_slash_cancun",
                                "america_slash_cayman",
                                "america_slash_chicago",
                                "america_slash_coral_harbour",
                                "america_slash_eirunepe",
                                "america_slash_guayaquil",
                                "america_slash_indiana_slash_knox",
                                "america_slash_indiana_slash_tell_city",
                                "america_slash_jamaica",
                                "america_slash_knox_in",
                                "america_slash_lima",
                                "america_slash_matamoros",
                                "america_slash_menominee",
                                "america_slash_merida",
                                "america_slash_mexico_city",
                                "america_slash_monterrey",
                                "america_slash_north_dakota_slash_beulah",
                                "america_slash_north_dakota_slash_center",
                                "america_slash_north_dakota_slash_new_salem",
                                "america_slash_panama",
                                "america_slash_porto_acre",
                                "america_slash_rainy_river",
                                "america_slash_rankin_inlet",
                                "america_slash_resolute",
                                "america_slash_rio_branco",
                                "america_slash_winnipeg",
                                "brazil_slash_acre",
                                "canada_slash_central",
                                "mexico_slash_general",
                                "us_slash_central",
                                "us_slash_indiana_hyphen_starke",
                                "america_slash_anguilla",
                                "america_slash_antigua",
                                "america_slash_aruba",
                                "america_slash_asuncion",
                                "america_slash_barbados",
                                "america_slash_blanc_hyphen_sablon",
                                "america_slash_boa_vista",
                                "america_slash_campo_grande",
                                "america_slash_caracas",
                                "cuba",
                                "america_slash_cuiaba",
                                "america_slash_curacao",
                                "america_slash_detroit",
                                "america_slash_dominica",
                                "america_slash_fort_wayne",
                                "america_slash_grand_turk",
                                "america_slash_grenada",
                                "america_slash_guadeloupe",
                                "america_slash_guyana",
                                "america_slash_havana",
                                "america_slash_indiana_slash_indianapolis",
                                "america_slash_indiana_slash_marengo",
                                "america_slash_indiana_slash_petersburg",
                                "america_slash_indiana_slash_vevay",
                                "america_slash_indiana_slash_vincennes",
                                "america_slash_indiana_slash_winamac",
                                "america_slash_indianapolis",
                                "america_slash_iqaluit",
                                "america_slash_kentucky_slash_louisville",
                                "america_slash_kentucky_slash_monticello",
                                "america_slash_kralendijk",
                                "america_slash_la_paz",
                                "america_slash_louisville",
                                "america_slash_lower_princes",
                                "america_slash_manaus",
                                "america_slash_marigot",
                                "america_slash_martinique",
                                "america_slash_montreal",
                                "america_slash_montserrat",
                                "america_slash_nassau",
                                "america_slash_new_york",
                                "america_slash_nipigon",
                                "america_slash_pangnirtung",
                                "america_slash_port_of_spain",
                                "america_slash_port_hyphen_au_hyphen_prince",
                                "america_slash_porto_velho",
                                "america_slash_puerto_rico",
                                "america_slash_santiago",
                                "america_slash_santo_domingo",
                                "america_slash_st_barthelemy",
                                "america_slash_st_kitts",
                                "america_slash_st_lucia",
                                "america_slash_st_thomas",
                                "america_slash_st_vincent",
                                "america_slash_thunder_bay",
                                "america_slash_toronto",
                                "america_slash_tortola",
                                "america_slash_virgin",
                                "brazil_slash_west",
                                "canada_slash_eastern",
                                "chile_slash_continental",
                                "us_slash_east_hyphen_indiana",
                                "us_slash_eastern",
                                "us_slash_michigan",
                                "america_slash_araguaina",
                                "america_slash_argentina_slash_buenos_aires",
                                "america_slash_argentina_slash_catamarca",
                                "america_slash_argentina_slash_comodrivadavia",
                                "america_slash_argentina_slash_cordoba",
                                "america_slash_argentina_slash_jujuy",
                                "america_slash_argentina_slash_la_rioja",
                                "america_slash_argentina_slash_mendoza",
                                "america_slash_argentina_slash_rio_gallegos",
                                "america_slash_argentina_slash_salta",
                                "america_slash_argentina_slash_san_juan",
                                "america_slash_argentina_slash_san_luis",
                                "america_slash_argentina_slash_tucuman",
                                "america_slash_argentina_slash_ushuaia",
                                "america_slash_bahia",
                                "america_slash_belem",
                                "america_slash_buenos_aires",
                                "america_slash_catamarca",
                                "america_slash_cayenne",
                                "america_slash_cordoba",
                                "america_slash_fortaleza",
                                "america_slash_glace_bay",
                                "america_slash_goose_bay",
                                "america_slash_halifax",
                                "america_slash_jujuy",
                                "america_slash_maceio",
                                "america_slash_mendoza",
                                "america_slash_moncton",
                                "america_slash_montevideo",
                                "america_slash_paramaribo",
                                "america_slash_punta_arenas",
                                "america_slash_recife",
                                "america_slash_rosario",
                                "america_slash_santarem",
                                "america_slash_sao_paulo",
                                "america_slash_thule",
                                "antarctica_slash_palmer",
                                "antarctica_slash_rothera",
                                "atlantic_slash_bermuda",
                                "atlantic_slash_stanley",
                                "brazil_slash_east",
                                "canada_slash_atlantic",
                                "america_slash_st_johns",
                                "canada_slash_newfoundland",
                                "america_slash_godthab",
                                "america_slash_miquelon",
                                "america_slash_noronha",
                                "atlantic_slash_south_georgia",
                                "brazil_slash_denoronha",
                                "atlantic_slash_cape_verde",
                                "africa_slash_abidjan",
                                "africa_slash_accra",
                                "africa_slash_bamako",
                                "africa_slash_banjul",
                                "africa_slash_bissau",
                                "africa_slash_conakry",
                                "africa_slash_dakar",
                                "africa_slash_freetown",
                                "africa_slash_lome",
                                "africa_slash_monrovia",
                                "africa_slash_nouakchott",
                                "africa_slash_ouagadougou",
                                "africa_slash_timbuktu",
                                "america_slash_danmarkshavn",
                                "america_slash_scoresbysund",
                                "atlantic_slash_azores",
                                "atlantic_slash_reykjavik",
                                "atlantic_slash_st_helena",
                                "iceland",
                                "africa_slash_algiers",
                                "africa_slash_bangui",
                                "africa_slash_brazzaville",
                                "africa_slash_casablanca",
                                "africa_slash_douala",
                                "africa_slash_el_aaiun",
                                "africa_slash_kinshasa",
                                "africa_slash_lagos",
                                "africa_slash_libreville",
                                "africa_slash_luanda",
                                "africa_slash_malabo",
                                "africa_slash_ndjamena",
                                "africa_slash_niamey",
                                "africa_slash_porto_hyphen_novo",
                                "africa_slash_sao_tome",
                                "africa_slash_tunis",
                                "atlantic_slash_canary",
                                "atlantic_slash_faeroe",
                                "atlantic_slash_faroe",
                                "atlantic_slash_madeira",
                                "europe_slash_belfast",
                                "europe_slash_dublin",
                                "eire",
                                "europe_slash_guernsey",
                                "europe_slash_isle_of_man",
                                "europe_slash_jersey",
                                "europe_slash_lisbon",
                                "europe_slash_london",
                                "portugal",
                                "africa_slash_blantyre",
                                "africa_slash_bujumbura",
                                "africa_slash_cairo",
                                "africa_slash_ceuta",
                                "egypt",
                                "africa_slash_gaborone",
                                "africa_slash_harare",
                                "africa_slash_johannesburg",
                                "africa_slash_khartoum",
                                "africa_slash_kigali",
                                "libya",
                                "africa_slash_lubumbashi",
                                "africa_slash_lusaka",
                                "africa_slash_maputo",
                                "africa_slash_maseru",
                                "africa_slash_mbabane",
                                "africa_slash_tripoli",
                                "africa_slash_windhoek",
                                "antarctica_slash_troll",
                                "arctic_slash_longyearbyen",
                                "atlantic_slash_jan_mayen",
                                "europe_slash_amsterdam",
                                "europe_slash_andorra",
                                "europe_slash_belgrade",
                                "europe_slash_berlin",
                                "europe_slash_bratislava",
                                "europe_slash_brussels",
                                "europe_slash_budapest",
                                "europe_slash_busingen",
                                "europe_slash_copenhagen",
                                "europe_slash_gibraltar",
                                "europe_slash_kaliningrad",
                                "europe_slash_ljubljana",
                                "europe_slash_luxembourg",
                                "europe_slash_madrid",
                                "europe_slash_malta",
                                "europe_slash_monaco",
                                "europe_slash_oslo",
                                "europe_slash_paris",
                                "europe_slash_podgorica",
                                "poland",
                                "europe_slash_prague",
                                "europe_slash_rome",
                                "europe_slash_san_marino",
                                "europe_slash_sarajevo",
                                "europe_slash_skopje",
                                "europe_slash_stockholm",
                                "europe_slash_tirane",
                                "europe_slash_vaduz",
                                "europe_slash_vatican",
                                "europe_slash_vienna",
                                "europe_slash_warsaw",
                                "europe_slash_zagreb",
                                "europe_slash_zurich",
                                "africa_slash_addis_ababa",
                                "africa_slash_asmara",
                                "africa_slash_asmera",
                                "africa_slash_dar_es_salaam",
                                "africa_slash_djibouti",
                                "africa_slash_juba",
                                "africa_slash_kampala",
                                "africa_slash_mogadishu",
                                "africa_slash_nairobi",
                                "antarctica_slash_syowa",
                                "asia_slash_aden",
                                "asia_slash_amman",
                                "asia_slash_baghdad",
                                "asia_slash_bahrain",
                                "asia_slash_beirut",
                                "asia_slash_damascus",
                                "asia_slash_famagusta",
                                "asia_slash_gaza",
                                "asia_slash_hebron",
                                "israel",
                                "asia_slash_istanbul",
                                "asia_slash_jerusalem",
                                "asia_slash_kuwait",
                                "asia_slash_nicosia",
                                "asia_slash_qatar",
                                "asia_slash_riyadh",
                                "asia_slash_tel_aviv",
                                "turkey",
                                "europe_slash_athens",
                                "europe_slash_bucharest",
                                "europe_slash_chisinau",
                                "europe_slash_helsinki",
                                "europe_slash_istanbul",
                                "europe_slash_kiev",
                                "europe_slash_kirov",
                                "europe_slash_mariehamn",
                                "europe_slash_minsk",
                                "europe_slash_moscow",
                                "europe_slash_nicosia",
                                "europe_slash_riga",
                                "europe_slash_simferopol",
                                "europe_slash_sofia",
                                "europe_slash_tallinn",
                                "europe_slash_tiraspol",
                                "europe_slash_uzhgorod",
                                "europe_slash_vilnius",
                                "europe_slash_zaporozhye",
                                "indian_slash_antananarivo",
                                "indian_slash_comoro",
                                "indian_slash_mayotte",
                                "asia_slash_baku",
                                "asia_slash_dubai",
                                "asia_slash_muscat",
                                "asia_slash_tbilisi",
                                "asia_slash_yerevan",
                                "europe_slash_astrakhan",
                                "europe_slash_samara",
                                "europe_slash_saratov",
                                "europe_slash_ulyanovsk",
                                "europe_slash_volgograd",
                                "indian_slash_mahe",
                                "indian_slash_mauritius",
                                "indian_slash_reunion",
                                "iran",
                                "asia_slash_kabul",
                                "asia_slash_tehran",
                                "antarctica_slash_mawson",
                                "asia_slash_aqtau",
                                "asia_slash_aqtobe",
                                "asia_slash_ashgabat",
                                "asia_slash_ashkhabad",
                                "asia_slash_atyrau",
                                "asia_slash_dushanbe",
                                "asia_slash_karachi",
                                "asia_slash_oral",
                                "asia_slash_samarkand",
                                "asia_slash_tashkent",
                                "asia_slash_yekaterinburg",
                                "indian_slash_kerguelen",
                                "indian_slash_maldives",
                                "asia_slash_calcutta",
                                "asia_slash_colombo",
                                "asia_slash_kolkata",
                                "asia_slash_kathmandu",
                                "asia_slash_katmandu",
                                "antarctica_slash_vostok",
                                "asia_slash_almaty",
                                "asia_slash_bishkek",
                                "asia_slash_dacca",
                                "asia_slash_dhaka",
                                "asia_slash_kashgar",
                                "asia_slash_omsk",
                                "asia_slash_qyzylorda",
                                "asia_slash_thimbu",
                                "asia_slash_thimphu",
                                "asia_slash_urumqi",
                                "indian_slash_chagos",
                                "asia_slash_rangoon",
                                "asia_slash_yangon",
                                "indian_slash_cocos",
                                "antarctica_slash_davis",
                                "asia_slash_bangkok",
                                "asia_slash_barnaul",
                                "asia_slash_ho_chi_minh",
                                "asia_slash_hovd",
                                "asia_slash_jakarta",
                                "asia_slash_krasnoyarsk",
                                "asia_slash_novokuznetsk",
                                "asia_slash_novosibirsk",
                                "asia_slash_phnom_penh",
                                "asia_slash_pontianak",
                                "asia_slash_saigon",
                                "asia_slash_tomsk",
                                "asia_slash_vientiane",
                                "indian_slash_christmas",
                                "antarctica_slash_casey",
                                "asia_slash_brunei",
                                "asia_slash_choibalsan",
                                "asia_slash_chongqing",
                                "asia_slash_chungking",
                                "asia_slash_harbin",
                                "asia_slash_hong_kong",
                                "asia_slash_irkutsk",
                                "asia_slash_kuala_lumpur",
                                "asia_slash_kuching",
                                "asia_slash_macao",
                                "asia_slash_macau",
                                "asia_slash_makassar",
                                "asia_slash_manila",
                                "asia_slash_shanghai",
                                "asia_slash_singapore",
                                "asia_slash_taipei",
                                "asia_slash_ujung_pandang",
                                "asia_slash_ulaanbaatar",
                                "asia_slash_ulan_bator",
                                "australia_slash_perth",
                                "australia_slash_west",
                                "australia_slash_eucla",
                                "asia_slash_chita",
                                "asia_slash_dili",
                                "japan",
                                "asia_slash_jayapura",
                                "asia_slash_khandyga",
                                "asia_slash_pyongyang",
                                "asia_slash_seoul",
                                "asia_slash_tokyo",
                                "asia_slash_yakutsk",
                                "pacific_slash_palau",
                                "australia_slash_adelaide",
                                "australia_slash_broken_hill",
                                "australia_slash_darwin",
                                "australia_slash_north",
                                "australia_slash_south",
                                "australia_slash_yancowinna",
                                "antarctica_slash_dumontdurville",
                                "asia_slash_ust_hyphen_nera",
                                "asia_slash_vladivostok",
                                "australia_slash_act",
                                "australia_slash_brisbane",
                                "australia_slash_canberra",
                                "australia_slash_currie",
                                "australia_slash_hobart",
                                "australia_slash_lindeman",
                                "australia_slash_melbourne",
                                "australia_slash_nsw",
                                "australia_slash_queensland",
                                "australia_slash_sydney",
                                "australia_slash_tasmania",
                                "australia_slash_victoria",
                                "pacific_slash_chuuk",
                                "pacific_slash_guam",
                                "pacific_slash_port_moresby",
                                "pacific_slash_saipan",
                                "pacific_slash_truk",
                                "pacific_slash_yap",
                                "australia_slash_lhi",
                                "australia_slash_lord_howe",
                                "antarctica_slash_macquarie",
                                "asia_slash_magadan",
                                "asia_slash_sakhalin",
                                "asia_slash_srednekolymsk",
                                "pacific_slash_bougainville",
                                "pacific_slash_efate",
                                "pacific_slash_guadalcanal",
                                "pacific_slash_kosrae",
                                "pacific_slash_norfolk",
                                "pacific_slash_noumea",
                                "pacific_slash_pohnpei",
                                "pacific_slash_ponape",
                                "antarctica_slash_mcmurdo",
                                "antarctica_slash_south_pole",
                                "asia_slash_anadyr",
                                "asia_slash_kamchatka",
                                "pacific_slash_auckland",
                                "pacific_slash_fiji",
                                "pacific_slash_funafuti",
                                "kwajalein",
                                "pacific_slash_majuro",
                                "pacific_slash_nauru",
                                "pacific_slash_tarawa",
                                "pacific_slash_wake",
                                "pacific_slash_wallis",
                                "pacific_slash_chatham",
                                "pacific_slash_apia",
                                "pacific_slash_enderbury",
                                "pacific_slash_fakaofo",
                                "pacific_slash_tongatapu",
                                "pacific_slash_kiritimati"
                            ]
                        }
                    },
                    {
                        "name": "hs_time_between_contact_creation_and_deal_close",
                        "type": "number",
                        "label": "Time between contact creation and deal close"
                    },
                    {
                        "name": "hs_time_between_contact_creation_and_deal_creation",
                        "type": "number",
                        "label": "Time between contact creation and deal creation"
                    },
                    {
                        "name": "hs_time_to_move_from_lead_to_customer",
                        "type": "number",
                        "label": "Time to move from lead to customer"
                    },
                    {
                        "name": "hs_time_to_move_from_marketingqualifiedlead_to_customer",
                        "type": "number",
                        "label": "Time to move from marketing qualified lead to customer"
                    },
                    {
                        "name": "hs_time_to_move_from_opportunity_to_customer",
                        "type": "number",
                        "label": "Time to move from opportunity to customer"
                    },
                    {
                        "name": "hs_time_to_move_from_salesqualifiedlead_to_customer",
                        "type": "number",
                        "label": "Time to move from sales qualified lead to customer"
                    },
                    {
                        "name": "hs_time_to_move_from_subscriber_to_customer",
                        "type": "number",
                        "label": "Time to move from subscriber to customer"
                    },
                    {
                        "name": "twitterbio",
                        "type": "text",
                        "label": "Twitter Bio"
                    },
                    {
                        "name": "twitterprofilephoto",
                        "type": "text",
                        "label": "Twitter Profile Photo"
                    },
                    {
                        "name": "twitterhandle",
                        "type": "text",
                        "label": "Twitter Username"
                    },
                    {
                        "name": "website",
                        "type": "text",
                        "label": "Website URL"
                    },
                    {
                        "name": "hs_whatsapp_phone_number",
                        "type": "text",
                        "label": "WhatsApp Phone Number"
                    },
                    {
                        "name": "work_email",
                        "type": "text",
                        "label": "Work email"
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 150
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 10,
                            "module": "hubspotcrm:getContact",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 1686318
                            },
                            "mapper": {
                                "contactId": "{{6.id}}",
                                "parseCustomFields": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "contactId": {
                                            "mode": "edit"
                                        },
                                        "outputProperties": {
                                            "mode": "chose"
                                        },
                                        "parseCustomFields": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "hubspotcrm"
                                            },
                                            "label": "My HubSpot CRM connection (vincent.ramiso14@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:hubspotcrm",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "contactId",
                                        "type": "select",
                                        "label": "Contact ID",
                                        "required": true
                                    },
                                    {
                                        "name": "outputProperties",
                                        "type": "select",
                                        "label": "Output Properties",
                                        "multiple": true
                                    },
                                    {
                                        "name": "parseCustomFields",
                                        "type": "boolean",
                                        "label": "Parse Custom Fields",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 8,
                            "module": "slack:CreateMessage",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 1676835
                            },
                            "mapper": {
                                "text": "Lead - nurturing qualification\nName - {{2.properties.firstname}} {{2.properties.lastname}}",
                                "parse": false,
                                "mrkdwn": true,
                                "channel": "C0745LPF1C6",
                                "channelType": "public",
                                "channelWType": "list"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "parse": {
                                            "mode": "chose"
                                        },
                                        "mrkdwn": {
                                            "mode": "chose"
                                        },
                                        "channel": {
                                            "mode": "chose",
                                            "label": "general"
                                        },
                                        "link_names": {
                                            "mode": "chose"
                                        },
                                        "channelType": {
                                            "label": "Public channel"
                                        },
                                        "channelWType": {
                                            "label": "Select from the list"
                                        },
                                        "unfurl_links": {
                                            "mode": "chose"
                                        },
                                        "unfurl_media": {
                                            "mode": "chose"
                                        },
                                        "reply_broadcast": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "slack3"
                                            },
                                            "label": "My Slack (bot) connection (integromat)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:slack2,slack3",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "channelWType",
                                        "type": "select",
                                        "label": "Enter a channel ID or name",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "manualy",
                                                "list"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "blocks",
                                        "type": "text",
                                        "label": "Blocks"
                                    },
                                    {
                                        "name": "thread_ts",
                                        "type": "text",
                                        "label": "Thread message ID (time stamp)"
                                    },
                                    {
                                        "name": "reply_broadcast",
                                        "type": "boolean",
                                        "label": "Reply broadcast"
                                    },
                                    {
                                        "name": "link_names",
                                        "type": "boolean",
                                        "label": "Link names"
                                    },
                                    {
                                        "name": "parse",
                                        "type": "boolean",
                                        "label": "Parse message text"
                                    },
                                    {
                                        "name": "mrkdwn",
                                        "type": "boolean",
                                        "label": "Use markdown"
                                    },
                                    {
                                        "name": "unfurl_links",
                                        "type": "boolean",
                                        "label": "Unfurl primarily text-based content"
                                    },
                                    {
                                        "name": "unfurl_media",
                                        "type": "boolean",
                                        "label": "Unfurl media content"
                                    },
                                    {
                                        "name": "icon_emoji",
                                        "type": "text",
                                        "label": "Icon emoji"
                                    },
                                    {
                                        "name": "icon_url",
                                        "type": "url",
                                        "label": "Icon url"
                                    },
                                    {
                                        "name": "username",
                                        "type": "text",
                                        "label": "User name"
                                    },
                                    {
                                        "name": "channelType",
                                        "type": "select",
                                        "label": "Channel type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "public",
                                                "private",
                                                "im",
                                                "mpim"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "channel",
                                        "type": "select",
                                        "label": "Public channel",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com"
    }
}