View Availability for scheduling Appointment.json
{
    "name": "View Availability for scheduling Appointment",
    "flow": [
        {
            "id": 29,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 626200,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "My gateway-webhook webhook"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "google-calendar:getFreeBusyInformation",
            "version": 5,
            "parameters": {
                "__IMTCONN__": 1662378
            },
            "mapper": {
                "item": [
                    {
                        "id": "vincent@prellus.com"
                    }
                ],
                "timeMax": "{{addDays(now; 14)}}",
                "timeMin": "{{now}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "item": {
                            "mode": "chose",
                            "items": [
                                {
                                    "id": {
                                        "mode": "chose",
                                        "label": "vincent@prellus.com (Primary Calendar)"
                                    }
                                }
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (vincent@prellus.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "timeMin",
                        "time": true,
                        "type": "date",
                        "label": "Minimum Time",
                        "required": true
                    },
                    {
                        "name": "timeMax",
                        "time": true,
                        "type": "date",
                        "label": "Maximum Time",
                        "required": true
                    },
                    {
                        "name": "item",
                        "spec": [
                            {
                                "mode": "edit",
                                "name": "id",
                                "type": "select",
                                "label": "Calendar ID",
                                "dynamic": true,
                                "options": [],
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Calendars",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "kind",
                        "type": "text",
                        "label": "Kind"
                    },
                    {
                        "name": "timeMin",
                        "type": "date",
                        "label": "Time Min"
                    },
                    {
                        "name": "timeMax",
                        "type": "date",
                        "label": "Time Max"
                    },
                    {
                        "name": "calendars",
                        "spec": [
                            {
                                "name": "vincent@prellus.com",
                                "spec": [
                                    {
                                        "name": "busy",
                                        "spec": [
                                            {
                                                "name": "start",
                                                "type": "date",
                                                "label": "Start"
                                            },
                                            {
                                                "name": "end",
                                                "type": "date",
                                                "label": "End"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Busy"
                                    },
                                    {
                                        "name": "errors",
                                        "spec": [
                                            {
                                                "name": "domain",
                                                "type": "date",
                                                "label": "Domain"
                                            },
                                            {
                                                "name": "reason",
                                                "type": "date",
                                                "label": "Reason"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Errors"
                                    }
                                ],
                                "type": "collection",
                                "label": "vincent@prellus.com"
                            }
                        ],
                        "type": "collection",
                        "label": "Calendars"
                    }
                ]
            }
        },
        {
            "id": 44,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "mapper": {
                "array": "{{8.calendars.`vincent@prellus.com`.busy}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "array": {
                            "mode": "edit"
                        }
                    }
                },
                "expect": [
                    {
                        "mode": "edit",
                        "name": "array",
                        "spec": [],
                        "type": "array",
                        "label": "Array"
                    }
                ]
            }
        },
        {
            "id": 48,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "busyTime",
                "scope": "roundtrip",
                "value": "{{formatDate(44.start; \"YYYY-MM-DD hh:mm A\")}} to {{formatDate(44.end; \"YYYY-MM-DD hh:mm A\")}}"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "busyTime",
                        "type": "any",
                        "label": "busyTime"
                    }
                ]
            }
        },
        {
            "id": 46,
            "module": "builtin:BasicAggregator",
            "version": 1,
            "parameters": {
                "feeder": 44
            },
            "mapper": {
                "busyTime": "{{48.busyTime}}"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "Iterator [44]"
                        },
                        "target": {
                            "label": "Custom"
                        }
                    }
                }
            }
        },
        {
            "id": 41,
            "module": "gateway:WebhookRespond",
            "version": 1,
            "parameters": {},
            "mapper": {
                "body": "{{46.array}}",
                "status": "200",
                "headers": []
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "headers": {
                            "mode": "chose"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "status",
                        "type": "uinteger",
                        "label": "Status",
                        "required": true,
                        "validate": {
                            "min": 100
                        }
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key",
                                "required": true,
                                "validate": {
                                    "max": 256
                                }
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value",
                                "required": true,
                                "validate": {
                                    "max": 4096
                                }
                            }
                        ],
                        "type": "array",
                        "label": "Custom headers",
                        "validate": {
                            "maxItems": 16
                        }
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com"
    }
}